@for $i from 1 through 12 {
    .col-#{$i} {
        width: percentage($i / 12);
        float: left;
    }
    
    .offset-#{$i} {
        margin-left: percentage($i / 12);
    }
}

.row > * {
    float: left;
    padding-right: 10px;

    &:last-child {
        padding-right: 0;
    }
}

.row {
    float: left;
    width: 73.060029282577%;
    margin: 0 13.4699853587115%;
}

footer {
    float: left;
    width: 100%;
}
