footer {
    float: left;
    width: 100%;
    background: -webkit-radial-gradient(center, ellipse cover, #595970 0%,#353546 100%);
    
    .row {
        margin-bottom: 10px;
    }
    
    .col-1 {
        padding: 30px 0;
    }
    
    .col-11 {
        
        padding: 20px 0;
        
        p {
            float: left;
            font-family: 'Contra';
            font-size: 13px;
            text-align: left;
            padding: 18px 10px;
            color: rgba(255, 255, 255, 0.47);
            width: 80%;
            line-height: 25px;
            border-bottom: 1px solid rgba(25,25,25,0.1);
        }
    }
    
    .col-5 {
        h3 {
            font-family: 'Colab-Light';
            font-size: 25px;
            color: $white;
            font-weight: 300;
            margin: 0px 0px 10px 0;
        }
        
        p {
            font-family: 'Colab-Light';
            font-size: 14px;
            color: rgba(255, 255, 255, 0.55);
        }
        
        .btn {
            background: $MainProductBg;
            font-family: 'Colab-Light';
            font-size: 14px;
            color: $BlueText;
            border-radius: 7px;
            height: 28px;
            line-height: 28px;
            margin: 20px 0 10px 5%;
            width: 30%;
            
        }
        
        input {
            height: 28px;
            background: $dark-blue;
            border-radius: 7px;
            border: 0px;
            outline: none;
            margin-bottom: 10px;
            padding: 0px 15px;
            font-family: 'Colab-Light';
            font-size: 14px;
            color: rgba(231, 232, 234, 0.2);
        }
        
        &:nth-of-type(1) {
            input {
                float: left;
                width: 65%;
                margin-top: 20px;
            }
        }
        
        &:nth-of-type(2) {
            
            .col-6:nth-of-type(1) {
                padding-right: 10px;
            }
            
            input {
                width: 100%;
            }
            
            .btn {
                float: right;
            }
        }
        
        img {
            float: left;
            padding-right: 10px;
        }
    }
    
    textarea {
        border-radius: 7px;
        height: 106px;
        width: 100%;
        background: $dark-blue;
        outline: none;
        padding: 10px 20px;
        color: rgba(231, 232, 234, 0.2);
    }
    
    .col-12 {
        font-family: 'Colab-Light';
        font-size: 14px;
        color: rgba(255, 255, 255, 0.55);
    }
}