@import 'variables';
@import 'home';
@import 'blog';
@import 'products';
@import 'button';
@import 'columns';
@import 'header';

.clearfix::after {
    content:"";
    display:table;
    clear:both;
}

* {
    box-sizing: border-box;
    background: darkblue;
}

/*****************
Mixins
*****************/

@mixin bp-small {
    @media (max-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin bp-large {
    @media (max-width: $desktop-breakpoint) {
        @content;
    }
}

/*****************
Universal Styles
*****************/

/*****************
Main Styles
*****************/



    
    