@import 'home';
@import 'blog';
@import 'products';
@import 'variables';
@import 'buttons';

h1 {
  color: red;
  font-size: 5em;

.container {

  >div {
    width: 75%;
    height: auto;
    margin: 0 auto;
  }
}