@font-face {
  font-family: 'Contra';
  src: url(../fonts/Contra.ttf) format("truetype");
}

@font-face {
  font-family: 'Contra-Italic';
  src: url(../fonts/ContraItalic.ttf) format("truetype");
}

@font-face {
  font-family: 'Colab-Regular';
  src: url(../fonts/ColabReg.otf) format("opentype");
}

@font-face {
  font-family: 'Colab-Light';
  src: url(../fonts/ColabLight.otf) format("opentype");
}

#home-carousel .col-5 > * {
  float: right;
  margin: 5px 10px;
}

#home-carousel .col-5 h1, #home-carousel .col-5 h2, #home-carousel .col-5 p {
  text-align: right;
}

#home-carousel .col-5 h1 {
  font-family: ChunkFive;
  font-size: 45px;
  width: 100%;
}

#home-carousel .col-5 h2 {
  width: 100%;
  font-family: AlexandriaFLF;
  font-size: 39px;
}

#home-carousel .col-5 p {
  font-size: 23px;
  font-family: Colaborate;
  width: 50%;
}

#services .col-3 img {
  width: auto;
  height: 100%;
}

#home-cta .col-8 {
  text-align: left;
}

#home-cta .col-8 h2, #home-cta .col-8 h4 {
  margin: 0;
}

#home-cta .col-5 img {
  width: 95%;
  height: auto;
}

#home-cta ul {
  list-style-image: url("../img/homepage-playicon.png");
  width: 100%;
}

#home-cta ul li {
  padding: 5px 0px;
  font-size: 15px;
  font-family: Colaborate;
}

#home-cta .col-12 ul li {
  border-top: 1px solid rgba(25, 25, 25, 0.5);
  border-bottom: 1px solid rgba(25, 25, 25, 0.5);
}

h1, p, button {
  font-family: Colab-Light, arial, sans-serif;
}

h1 {
  font-size: 27px;
  color: #505050;
  font-weight: lighter;
  margin: 0;
}

p {
  font-size: 15px;
  color: #5f7390;
  margin: 0;
}

button {
  font-family: Colab-Regular;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.products {
  background-color: #e7e8ea;
  width: 73.060029282577%;
  margin: 0 13.4699853587115%;
  float: left;
}

.product-header {
  background: linear-gradient(to bottom, #e9eaec 0%, #d5d6d8 100%);
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid #f7f7f7;
  box-shadow: inset 0 -4px 10px -1px #e7e8ea;
}

.product-header .product-header-contents {
  margin: 30px 4.19% auto;
  margin-bottom: 30px;
}

.product-header .product-header-contents .product-header-text {
  float: left;
}

.product-header .product-header-contents .product-header-text h1 {
  margin-bottom: 0;
}

.product-header .product-header-contents .product-header-text p {
  margin: 0;
  margin-left: 1.5%;
}

.product-header .product-header-contents .searchbar {
  float: right;
  margin-top: 4px;
}

.product-header .product-header-contents .searchbar .search {
  position: relative;
  margin: 0 auto;
  width: 250px;
}

.product-header .product-header-contents .searchbar .search input {
  height: 26px;
  width: 100%;
  padding: 0 12px 0 25px;
  background: #fff 8px 6px no-repeat;
  border-width: 1px;
  border-style: solid;
  border-color: #a8acbc #babdcc #c0c3d2;
  border-radius: 13px;
  box-sizing: border-box;
  box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.product-header .product-header-contents .searchbar .search input:focus {
  outline: none;
  border-color: #66b1ee;
  box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.left-arrow {
  display: inline-block;
  float: left;
  padding-left: 20px;
  vertical-align: middle;
}

.right-arrow {
  display: inline-block;
  float: right;
  padding-right: 20px;
  vertical-align: middle;
}

.product-items {
  float: left;
  margin: 0 8.35% auto;
}

.product-items .product-ipad {
  text-align: center;
  height: auto;
  margin-top: 27px;
  float: left;
}

.product-items .product-ipad h1 {
  margin: 10px;
}

.product-items .product-ipad button {
  font-size: 19px;
  color: #fff;
  background: linear-gradient(to bottom, #2d6bc2 0%, #174183 100%);
  height: 34px;
  width: 130px;
  border-radius: 4px;
  margin: 25px;
}

.tabs {
  margin: 0 8.35% auto;
  margin-top: 70px;
  margin-bottom: 42px;
  border-bottom: 1px solid #bfc0c5;
}

.tabs .tab-active {
  background: linear-gradient(to bottom, #48485c 0%, #373748 100%);
  border-radius: 5px 5px 0px 0px;
  height: 30px;
  width: 140px;
}

.tabs .tab-gray {
  background: linear-gradient(to bottom, #e9eaec 0%, #d5d6d8 100%);
  border-radius: 5px 5px 0px 0px;
  height: 30px;
  width: 105px;
}

.product-small-row {
  float: left;
  margin: 0 8.35% auto;
  margin-bottom: 64px;
}

.product-small-row .product-small {
  float: left;
  text-align: center;
}

.product-small-row .product-small img {
  float: left;
}

.product-small-row .product-small .product-small-text {
  text-align: left;
  margin-left: 120px;
}

.product-small-row .product-small .product-small-text h1 {
  font-size: 22.59px;
  margin-top: 4px;
  font-stretch: wider;
}

.product-small-row .product-small .product-small-text p {
  font-size: 12.55px;
  margin-left: 4px;
  margin-top: 2px;
}

.product-small-row .product-small .product-small-text button {
  background: linear-gradient(to bottom, #48485c 0%, #373748 100%);
  height: 25px;
  width: 95px;
  margin-left: 6px;
  margin-top: 18px;
}

.btn {
  float: left;
  font-family: Colaborate, sans-serif;
  border: 1px solid #7291c0;
  color: #fff;
  text-decoration: none;
  background: -webkit-linear-gradient(top, #2d6ac1 0%, #184386 100%);
  border-radius: 5px;
  text-align: center;
}

.btn.big {
  height: 43px;
  width: 50%;
  font-size: 23px;
  line-height: 43px;
}

.col-1 {
  width: 8.33333%;
  float: left;
}

.offset-1 {
  margin-left: 8.33333%;
}

.col-2 {
  width: 16.66667%;
  float: left;
}

.offset-2 {
  margin-left: 16.66667%;
}

.col-3 {
  width: 25%;
  float: left;
}

.offset-3 {
  margin-left: 25%;
}

.col-4 {
  width: 33.33333%;
  float: left;
}

.offset-4 {
  margin-left: 33.33333%;
}

.col-5 {
  width: 41.66667%;
  float: left;
}

.offset-5 {
  margin-left: 41.66667%;
}

.col-6 {
  width: 50%;
  float: left;
}

.offset-6 {
  margin-left: 50%;
}

.col-7 {
  width: 58.33333%;
  float: left;
}

.offset-7 {
  margin-left: 58.33333%;
}

.col-8 {
  width: 66.66667%;
  float: left;
}

.offset-8 {
  margin-left: 66.66667%;
}

.col-9 {
  width: 75%;
  float: left;
}

.offset-9 {
  margin-left: 75%;
}

.col-10 {
  width: 83.33333%;
  float: left;
}

.offset-10 {
  margin-left: 83.33333%;
}

.col-11 {
  width: 91.66667%;
  float: left;
}

.offset-11 {
  margin-left: 91.66667%;
}

.col-12 {
  width: 100%;
  float: left;
}

.offset-12 {
  margin-left: 100%;
}

.row > * {
  float: left;
  padding-right: 10px;
}

.row > *:last-child {
  padding-right: 0;
}

.row {
  float: left;
  width: 73.060029282577%;
  margin: 0 13.4699853587115%;
}

footer {
  float: left;
  width: 100%;
}

header {
  height: auto;
  padding: 37px 0;
}

header .logo {
  float: left;
  max-width: 37px;
  height: 37px;
  width: 15%;
  text-indent: -99999px;
  overflow: hidden;
  background: url("../img/logo.png") no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
}

header .title {
  float: left;
  width: 85%;
  color: #fff;
  text-align: left;
  margin-top: -7px;
  padding-left: 8px;
}

header .title > * {
  margin: 0;
}

header .title h1 {
  font-family: "FlareLightGothic";
  font-size: 39px;
}

header .title h2 {
  font-family: 'FranklinGothic';
  font-size: 17px;
}

header .nav {
  float: left;
  width: 100%;
}

header .nav li {
  list-style-type: none;
  display: inline;
  padding: 0 7px;
}

header .nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-family: 'Colaborate';
  padding: 6px 9px;
  border-radius: 5px;
  font-size: 17px;
}

header .nav li a:hover {
  color: #161628;
  background: #d8d8e3;
}

footer textarea {
  height: 106px;
  width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

/*****************
Mixins
*****************/
/*****************
Universal Styles
*****************/
.centered {
  text-align: center;
}

body {
  background: -webkit-linear-gradient(top, #1b1b2d 0%, #3d3d4d 21%, #e7e8ea 50%);
}

/*****************
Main Styles
*****************/
