/*****************
Mixins
*****************/
/*****************
Imports
*****************/
@font-face {
  font-family: 'Contra';
  src: url(../fonts/Contra.ttf) format("truetype");
}

@font-face {
  font-family: 'Contra-Italic';
  src: url(../fonts/ContraItalic.ttf) format("truetype");
}

@font-face {
  font-family: 'Colab-Regular';
  src: url(../fonts/ColabReg.otf) format("opentype");
}

@font-face {
  font-family: 'Colab-Light';
  src: url(../fonts/ColabLight.otf) format("opentype");
}

@font-face {
  font-family: 'FranklinGothic';
  src: url("../fonts/franklingothic-book.otf") format("opentype");
}

@font-face {
  font-family: 'FlareLightGothic';
  src: url("../fonts/ufonts.com_flare-light-gothic.ttf") format("truetype");
}

@font-face {
  font-family: 'ChunkFive';
  src: url("../fonts/Chunkfive.otf") format("opentype");
}

@font-face {
  font-family: 'AlexandriaFLF-Bold';
  src: url("../fonts/AlexandriaFLF-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'AlexandriaFLF';
  src: url("../fonts/AlexandriaFLF.ttf") format("truetype");
}

@font-face {
  font-family: 'Contra';
  src: url("../fonts/CONTRA__.ttf") format "truetype";
}

.btn {
  float: left;
  font-family: Colaborate, sans-serif;
  border: 1px solid #7291c0;
  color: #fff;
  text-decoration: none;
  background: -webkit-linear-gradient(top, #2d6ac1 0%, #184386 100%);
  border-radius: 5px;
  text-align: center;
  height: 34px;
  line-height: 34px;
  font-size: 19px;
  font-family: 'Colab-Regular';
  font-weight: 400;
  padding: 0 20px;
  margin-left: 40px;
}

.btn.big {
  width: 50%;
  height: 43px;
  font-size: 23px;
  line-height: 43px;
}

.col-1 {
  width: 8.33333%;
  float: left;
}

@media (max-width: 980px) {
  .col-1 {
    width: 100%;
  }
}

.offset-1 {
  margin-left: 8.33333%;
}

@media (max-width: 980px) {
  .offset-1 {
    margin-left: 0;
  }
}

.col-2 {
  width: 16.66667%;
  float: left;
}

@media (max-width: 980px) {
  .col-2 {
    width: 100%;
  }
}

.offset-2 {
  margin-left: 16.66667%;
}

@media (max-width: 980px) {
  .offset-2 {
    margin-left: 0;
  }
}

.col-3 {
  width: 25%;
  float: left;
}

@media (max-width: 980px) {
  .col-3 {
    width: 100%;
  }
}

.offset-3 {
  margin-left: 25%;
}

@media (max-width: 980px) {
  .offset-3 {
    margin-left: 0;
  }
}

.col-4 {
  width: 33.33333%;
  float: left;
}

@media (max-width: 980px) {
  .col-4 {
    width: 100%;
  }
}

.offset-4 {
  margin-left: 33.33333%;
}

@media (max-width: 980px) {
  .offset-4 {
    margin-left: 0;
  }
}

.col-5 {
  width: 41.66667%;
  float: left;
}

@media (max-width: 980px) {
  .col-5 {
    width: 100%;
  }
}

.offset-5 {
  margin-left: 41.66667%;
}

@media (max-width: 980px) {
  .offset-5 {
    margin-left: 0;
  }
}

.col-6 {
  width: 50%;
  float: left;
}

@media (max-width: 980px) {
  .col-6 {
    width: 100%;
  }
}

.offset-6 {
  margin-left: 50%;
}

@media (max-width: 980px) {
  .offset-6 {
    margin-left: 0;
  }
}

.col-7 {
  width: 58.33333%;
  float: left;
}

@media (max-width: 980px) {
  .col-7 {
    width: 100%;
  }
}

.offset-7 {
  margin-left: 58.33333%;
}

@media (max-width: 980px) {
  .offset-7 {
    margin-left: 0;
  }
}

.col-8 {
  width: 66.66667%;
  float: left;
}

@media (max-width: 980px) {
  .col-8 {
    width: 100%;
  }
}

.offset-8 {
  margin-left: 66.66667%;
}

@media (max-width: 980px) {
  .offset-8 {
    margin-left: 0;
  }
}

.col-9 {
  width: 75%;
  float: left;
}

@media (max-width: 980px) {
  .col-9 {
    width: 100%;
  }
}

.offset-9 {
  margin-left: 75%;
}

@media (max-width: 980px) {
  .offset-9 {
    margin-left: 0;
  }
}

.col-10 {
  width: 83.33333%;
  float: left;
}

@media (max-width: 980px) {
  .col-10 {
    width: 100%;
  }
}

.offset-10 {
  margin-left: 83.33333%;
}

@media (max-width: 980px) {
  .offset-10 {
    margin-left: 0;
  }
}

.col-11 {
  width: 91.66667%;
  float: left;
}

@media (max-width: 980px) {
  .col-11 {
    width: 100%;
  }
}

.offset-11 {
  margin-left: 91.66667%;
}

@media (max-width: 980px) {
  .offset-11 {
    margin-left: 0;
  }
}

.col-12 {
  width: 100%;
  float: left;
}

@media (max-width: 980px) {
  .col-12 {
    width: 100%;
  }
}

.offset-12 {
  margin-left: 100%;
}

@media (max-width: 980px) {
  .offset-12 {
    margin-left: 0;
  }
}

.row > * {
  float: left;
  padding-right: 10px;
}

@media (max-width: 980px) {
  .row > * {
    padding-right: 0;
    margin: 20px 0;
  }
}

.row > *:last-child {
  padding-right: 0;
}

.row {
  float: left;
  width: 73.060029282577%;
  margin: 0 13.4699853587115% 50px 13.4699853587115%;
}

@media (max-width: 980px) {
  .row {
    width: 80%;
    margin: 20px 10%;
  }
}

header {
  height: auto;
  padding: 37px 0;
}

header .logo {
  float: left;
  max-width: 37px;
  height: 37px;
  width: 15%;
  text-indent: -99999px;
  overflow: hidden;
  background: url("../img/logo.png") no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
}

header .title {
  float: left;
  width: 85%;
  color: #fff;
  text-align: left;
  margin-top: -7px;
  padding-left: 8px;
}

header .title > * {
  margin: 0;
}

header .title h1 {
  font-family: 'FlareLightGothic';
  font-size: 39px;
  color: #fff;
  font-weight: 400;
}

header .title h2 {
  font-family: 'FranklinGothic';
  font-size: 17px;
  color: #fff;
  font-weight: 300;
}

header .nav {
  float: left;
  width: 100%;
  padding-left: 0;
}

header .nav li {
  list-style-type: none;
  display: inline;
  padding: 0 7px;
}

@media (max-width: 980px) {
  header .nav li {
    display: block;
    text-align: center;
    margin: 20px 0;
    width: 100%;
  }
}

header .nav li a {
  text-decoration: none;
  color: #d8d8e3;
  font-weight: 300;
  font-family: 'Colab-Light';
  padding: 6px 9px;
  border-radius: 5px;
  font-size: 17px;
}

@media (max-width: 980px) {
  header .nav li a {
    float: left;
    font-size: 30px;
    width: 100%;
    border-radius: 0px;
  }
}

header .nav li a:hover {
  color: #161628;
  background: #d8d8e3;
}

header .nav li a.active {
  color: #161628;
  background: #d8d8e3;
}

footer {
  float: left;
  width: 100%;
  background: -webkit-radial-gradient(center, ellipse cover, #595970 0%, #353546 100%);
}

footer .row {
  margin-bottom: 10px;
}

footer .col-1 {
  padding: 30px 0;
}

footer .col-11 {
  padding: 20px 0;
}

footer .col-11 p {
  float: left;
  font-family: 'Contra';
  font-size: 13px;
  text-align: left;
  padding: 18px 10px;
  color: rgba(255, 255, 255, 0.47);
  width: 80%;
  line-height: 25px;
  border-bottom: 1px solid rgba(25, 25, 25, 0.1);
}

footer .col-5 h3 {
  font-family: 'Colab-Light';
  font-size: 25px;
  color: #fff;
  font-weight: 300;
  margin: 0px 0px 10px 0;
}

footer .col-5 p {
  font-family: 'Colab-Light';
  font-size: 14px;
  color: rgba(255, 255, 255, 0.55);
}

footer .col-5 .btn {
  background: #e7e8ea;
  font-family: 'Colab-Light';
  font-size: 14px;
  color: #5f7390;
  border-radius: 7px;
  height: 28px;
  line-height: 28px;
  margin: 20px 0 10px 5%;
  width: 30%;
}

footer .col-5 input {
  height: 28px;
  background: #242439;
  border-radius: 7px;
  border: 0px;
  outline: none;
  margin-bottom: 10px;
  padding: 0px 15px;
  font-family: 'Colab-Light';
  font-size: 14px;
  color: rgba(231, 232, 234, 0.2);
}

footer .col-5:nth-of-type(1) input {
  float: left;
  width: 65%;
  margin-top: 20px;
}

footer .col-5:nth-of-type(2) .col-6:nth-of-type(1) {
  padding-right: 10px;
}

footer .col-5:nth-of-type(2) input {
  width: 100%;
}

footer .col-5:nth-of-type(2) .btn {
  float: right;
}

footer .col-5 img {
  float: left;
  padding-right: 10px;
}

footer textarea {
  border-radius: 7px;
  height: 106px;
  width: 100%;
  background: #242439;
  outline: none;
  padding: 10px 20px;
  color: rgba(231, 232, 234, 0.2);
}

footer .col-12 {
  font-family: 'Colab-Light';
  font-size: 14px;
  color: rgba(255, 255, 255, 0.55);
}

#home-carousel {
  margin-bottom: 20px;
}

@media (max-width: 980px) {
  #home-carousel .col-5 .btn {
    width: 60%;
    margin: 10px 20%;
  }
}

#home-carousel .col-5 > * {
  float: right;
  margin: 0px 10px;
}

@media (max-width: 980px) {
  #home-carousel .col-5 > * {
    float: left;
  }
}

#home-carousel .col-5 h1, #home-carousel .col-5 h2, #home-carousel .col-5 p {
  text-align: right;
}

@media (max-width: 980px) {
  #home-carousel .col-5 h1, #home-carousel .col-5 h2, #home-carousel .col-5 p {
    text-align: center;
  }
}

#home-carousel .col-5 h1 {
  font-family: 'ChunkFive';
  font-size: 45px;
  width: 100%;
  color: #e7e8ea;
  margin-top: 35px;
}

#home-carousel .col-5 h2 {
  width: 100%;
  font-family: 'AlexandriaFLF';
  font-size: 39px;
  color: #d8d8e3;
  font-weight: 400;
  margin-bottom: 5px;
}

#home-carousel .col-5 h2 span {
  font-weight: 700;
  font-family: 'AlexandriaFLF-Bold';
}

#home-carousel .col-5 p {
  font-size: 23px;
  width: 45%;
  font-weight: 100;
  color: #e7e8ea;
  font-family: 'Colab-Light';
  margin-bottom: 30px;
}

@media (max-width: 980px) {
  #home-carousel .col-5 p {
    width: 100%;
  }
}

@media (max-width: 980px) {
  #home-carousel img {
    margin: 5px 15%;
    width: 70%;
    height: auto;
  }
}

@media (max-width: 980px) {
  #services .col-3 {
    width: 80%;
    margin: 20px 10%;
  }
}

#services .col-3 img {
  width: auto;
  height: 100%;
}

@media (max-width: 980px) {
  #services .col-3 img {
    width: 100%;
    height: auto;
  }
}

#more-services img {
  float: left;
  width: 12%;
  height: auto;
}

#more-services h4, #more-services h5 {
  float: left;
  width: 88%;
  margin: 0;
  padding: 0 0 0 7px;
  font-weight: 300;
}

#more-services h4 {
  font-size: 22px;
}

#more-services h5 {
  font-size: 12px;
  color: #5f7390;
}

#more-services p {
  margin-top: 10px;
  float: left;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  padding-right: 30px;
  text-align: justify;
}

#slider p {
  padding: 20px 50px;
  font-family: 'Contra';
  border-top: 1px solid rgba(25, 25, 25, 0.2);
  border-bottom: 1px solid rgba(25, 25, 25, 0.2);
  color: #828181;
}

#slider p span {
  color: #687b96;
}

#home-cta .col-8 {
  text-align: left;
}

#home-cta .col-8 h2, #home-cta .col-8 h4 {
  margin: 0;
}

#home-cta .col-8 h4 {
  font-size: 15px;
  color: #5f7390;
}

#home-cta .col-5 img {
  width: 95%;
  height: auto;
}

#home-cta ul {
  list-style-image: url("../img/homepage-playicon.png");
  width: 100%;
}

#home-cta ul li {
  padding: 7px 0px;
  font-size: 15px;
}

#home-cta .col-12 {
  margin-top: 30px;
}

#home-cta .col-12 ul li {
  border-bottom: 1px solid rgba(25, 25, 25, 0.1);
  padding: 7px 0;
}

#home-cta .col-12 ul li:nth-of-type(1) {
  border-top: 1px solid rgba(25, 25, 25, 0.1);
}

h3 {
  font-family: Colab-Light, arial, sans-serif;
  font-size: 27px;
  font-weight: lighter;
  margin: 0;
}

.blog-header {
  margin-bottom: 0;
}

.blog-container {
  padding: 0;
  background-color: #e7e8ea;
}

.blog-container .article {
  padding: 0 30px;
  padding-top: 24px;
  margin-bottom: 12px;
}

.blog-container .article .article-image {
  float: left;
  margin-right: 28px;
}

.blog-container .article .article-contents {
  float: left;
  padding-bottom: 20px;
  border-bottom: 1px solid #CFD9E7;
}

.blog-container .article .article-contents .blog-date,
.blog-container .article .article-contents .blog-author {
  color: #5f7390;
  font-size: 12px;
  margin-right: 12px;
}

.blog-container .article .article-contents p {
  padding: 5px 0;
}

.blog-container .article .article-contents .social-media-icon {
  float: left;
  padding: 9px 4px 0 4px;
}

.blog-container .article .article-contents .btn {
  float: right;
  margin: 0;
}

.blog-container .page-number-links {
  text-align: center;
}

.blog-container .page-number-btn,
.blog-container .page-number-btn span {
  border-radius: 3px;
}

.blog-container .page-number-btn {
  display: inline-block;
  font-size: 12px;
  border: 1px solid #5C7381;
  color: #fff;
  text-decoration: none;
  margin-right: 14px;
}

.blog-container .page-number-btn:last-child {
  margin-right: 0;
}

.blog-container .page-number-btn span {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: .5em .9em;
  display: inline-block;
  background: #353546;
  /* Old browsers */
  background: -moz-linear-gradient(top, #353546 0%, #595970 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #353546 0%, #595970 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #353546 0%, #595970 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.blog-container .page-number-btn.active {
  border: 1px solid #1A3F8C;
}

.blog-container .page-number-btn.active span {
  background: #2b60c1;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2b60c1 0%, #23488c 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #2b60c1 0%, #23488c 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #2b60c1 0%, #23488c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.slidebar {
  background-color: #E7E8EA;
  padding: 24px 20px !important;
  box-shadow: inset 20px 0px 21px -10px lightgrey;
}

.slidebar h3 {
  margin-bottom: 20px;
}

.slidebar ul {
  padding-left: 16px;
  margin: 0;
  margin-bottom: 20px;
  list-style-image: url("../img/homepage-playicon.png");
}

.slidebar ul li {
  margin-bottom: 14px;
}

.slidebar ul li:last-child {
  margin-bottom: 0;
}

.slidebar .advertisement {
  margin: 10px 0;
}

h1, p, button {
  font-family: Colab-Light, arial, sans-serif;
}

h1 {
  font-size: 27px;
  color: #505050;
  font-weight: lighter;
  margin: 0;
}

p {
  font-size: 15px;
  color: #5f7390;
  margin: 0;
}

button {
  font-family: Colab-Regular;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.products {
  background-color: #e7e8ea;
  width: 73.060029282577%;
  margin: 0 13.4699853587115%;
  float: left;
}

.product-header {
  background: linear-gradient(to bottom, #e9eaec 0%, #d5d6d8 100%);
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid #f7f7f7;
  box-shadow: inset 0 -4px 10px -1px #e7e8ea;
  margin-bottom: 0;
}

.product-header .product-header-contents {
  margin: 30px 4.19% auto;
  margin-bottom: 30px;
}

.product-header .product-header-contents .product-header-text {
  float: left;
}

.product-header .product-header-contents .product-header-text h1 {
  margin-bottom: 0;
}

.product-header .product-header-contents .product-header-text p {
  margin: 0;
  margin-left: 1.5%;
}

.product-header .product-header-contents .searchbar {
  float: right;
  margin-top: 4px;
}

.product-header .product-header-contents .searchbar .search {
  position: relative;
  margin: 0 auto;
  width: 250px;
}

.product-header .product-header-contents .searchbar .search input {
  height: 26px;
  width: 100%;
  padding: 0 12px 0 25px;
  background: #fff 8px 6px no-repeat;
  border-width: 1px;
  border-style: solid;
  border-color: #a8acbc #babdcc #c0c3d2;
  border-radius: 13px;
  box-sizing: border-box;
  box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.product-header .product-header-contents .searchbar .search input:focus {
  outline: none;
  border-color: #66b1ee;
  box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.left-arrow {
  display: inline-block;
  float: left;
  padding-left: 20px;
  margin-top: 13%;
}

.right-arrow {
  display: inline-block;
  float: left;
  padding-right: 20px;
  margin-top: 13%;
}

.product-items {
  float: left;
  margin: 0;
}

.product-items .product-ipad {
  text-align: center;
  height: auto;
  margin-top: 27px;
  float: left;
}

.product-items .product-ipad h1 {
  margin: 10px;
}

.product-items .product-ipad button {
  font-size: 19px;
  color: #fff;
  background: linear-gradient(to bottom, #2d6bc2 0%, #174183 100%);
  height: 34px;
  width: 130px;
  border-radius: 4px;
  margin: 25px;
}

.tabs {
  margin: 0 8.35% auto;
  margin-top: 70px;
  margin-bottom: 42px;
  border-bottom: 1px solid #bfc0c5;
}

.tabs .tab-active {
  background: linear-gradient(to bottom, #48485c 0%, #373748 100%);
  border-radius: 5px 5px 0px 0px;
  height: 30px;
  width: 140px;
}

.tabs .tab-gray {
  background: linear-gradient(to bottom, #e9eaec 0%, #d5d6d8 100%);
  border-radius: 5px 5px 0px 0px;
  height: 30px;
  width: 105px;
}

.product-small-row {
  float: left;
  margin: 0 8.35% auto;
  margin-bottom: 64px;
}

.product-small-row .product-small {
  float: left;
  text-align: center;
}

.product-small-row .product-small img {
  float: left;
}

.product-small-row .product-small .product-small-text {
  text-align: left;
  margin-left: 120px;
}

.product-small-row .product-small .product-small-text h1 {
  font-size: 22.59px;
  margin-top: 4px;
  font-stretch: wider;
}

.product-small-row .product-small .product-small-text p {
  font-size: 12.55px;
  margin-left: 4px;
  margin-top: 2px;
}

.product-small-row .product-small .product-small-text button {
  background: linear-gradient(to bottom, #48485c 0%, #373748 100%);
  height: 25px;
  width: 95px;
  margin-left: 6px;
  margin-top: 18px;
}

@media (max-width: 980px) {
  .left-arrow {
    display: none;
  }
  .right-arrow {
    display: none;
  }
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

/*****************
Universal Styles
*****************/
.centered {
  text-align: center;
}

body {
  background: -webkit-linear-gradient(top, #1b1b2d 0%, #3d3d4d 21%, #e7e8ea 50%);
}

h2, h3, h4, h5, li, p {
  font-family: 'Colab-Regular';
  font-weight: 300;
  color: #505050;
}

/*****************
Main Styles
*****************/
